:root{
    --vermelho: #E51C15;
    --vermelho70: rgba(229, 28, 21, 0.7);
    --branco: #FFFFFF;
    --branco50: rgba(255, 255, 255, 0.5);
}


body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--vermelho);
}

main{
    margin-bottom: 120px;
}


nav .form-control,
nav .form-control:focus{
    background-color: var(--vermelho);
    color:  var(--branco);
    border: 1px solid var(--branco);
    box-shadow:none;
}

.btn,
.btn:active,
.btn:focus,
.btn:focus:active{
    background-color: var(--vermelho);
    color:  var(--branco);
    border: 1px solid var(--branco);
}

.badge{
    background-color: var(--vermelho);
    color:  var(--branco);
    border: 1px solid var(--branco);
}

.card-title{
    min-height: 96px;
}

.page-link,
.page-link:active,
.page-link:focus{
     background-color: var(--vermelho);
    color:  var(--branco);
    border: 1px solid var(--branco);
    box-shadow:none;
}

.page-link:hover{
background-color: var(--branco);
    color:  var(--vermelho);
    border: 1px solid var(--branco);
}

.toast-header img {
    width: 20px;
    height: 20px;
}

.btn:hover{
    background-color: var(--branco);
    color:  var(--vermelho);
    border: 1px solid var(--branco);
}

footer {
    background-color: var(--vermelho);
    color: var(--branco)
}

a .bi {
    color: var(--branco);
}

a .bi:hover{
    color: var(--branco50);
}

.carousel-caption{
    background-color: var(--vermelho70);
    color: var(--branco);
    border-radius: 100px;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}