body { background-color: bisque;
        border-width: 20px;
        padding: 20px;
        text-align:center;
        font-family: Saira Stencil;
        /*
        background-color: blue;
        border-width: 20px;
        padding: 20px;
        text-align:center;border-width: 20px 40px 10px 50px; 
        color: white;
         border-style: solid dotted dashed double; 
         border-color: rgba(0, 255, 0, 0.7);
         font-variant: small-caps;  
         font-family: 'Courier New', Courier, monospace */
         
         
         
    }




header{ text-align: center; 
    letter-spacing: -1px;
    line-height: 1; 
    position: sticky;
    top: 0;
    background-color: bisque;
    size-adjust: 0%;
    
}
header>img { width: 50%;              
}

.fundo_preto {
    background-color: grey;
    
}

footer { width: 100%;
    background-color: grey;
    padding: 5px;
    border: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom:0;           
}
nav {
     background-color: grey;
    padding: 5px;
    border: 10px; 
}

nav>a {
         color: white;
         text-decoration: none;
}
a:link{
 color: white;
}
a:visited{
    color: green;
}
a:hover{
    color: hotpink;
    text-decoration: underline overline;
    transform: scale(1.5);
    font-size: 120%;
}
a:active{
    color:blue
}

main {
    text-align: justify;
    text-indent: 2%;
    letter-spacing: -1px;
    line-height: 2;
    
}

i {
    color: red;
    size-adjust: 100%;
}


.fa-brands{
    color: red;
    transform: scale(2);
    margin-right: 15px;
    margin-left: 15px;
}

.fa-brands:hover {
    color: blue;
    transform: scale(2.5);
    font-size: 120%;
}

h3,h2 {
    font-family: 'Times New Roman', Times, serif;
}



/*--------------------------------------------------------------*/


span {color: yellow;
    background-color: orange;}

.texto-branco-fundo-preto {
    color: white;
    background-color: black;
}

#form-mail {
    background-color: blue;
    color: red;
}



/* comentários*/