body { background-color: bisque;
    border-width: 20px;
        /*padding: 20px;
        text-align:center;
        border-width: 20px 40px 10px 50px; 
         border-style: solid dotted dashed double; 
         border-color: rgba(0, 255, 0, 0.5); */
         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         
    }



header{ text-align: center;
             
}
header>img { width: 50%;
               
}

footer { width: 100%;
    background-color: grey;
    padding: 5px;
    border: 10px;
    text-align: center;
               
}
nav {
     background-color: grey;
    padding: 5px;
    border: 10px; 
}

nav>a {
         color: white;
}

p {
    text-align: justify;
}





span {color: yellow;
    background-color: orange;}

.texto-branco-fundo-preto {
    color: white;
    background-color: black;
}

#form-mail {
    background-color: blue;
    color: red;
}



/* comentários*/